body{
    background: linear-gradient(to left, #b14c33 20%, rgba(211, 208, 33, 0.863));
}
/* ---- Primer contenedor ----*/
.derecha{
    float: left;
    background: linear-gradient(to right, white, wheat);
    width: 70vw;
}
/*---- Segundo contenedor ------*/
.lateral{
    float: left;
    background: #ffffff;
    width: 20vw;
    height: 30vh;
    overflow: auto;
    margin: 20px auto 0 60px;
    padding: 10px;
    box-sizing: border-box;
    text-align: justify;
}
.titulo-footer{
    text-align: center;
    color: orangered;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.9em;
    font-weight: lighter;
    border-bottom: 2px double #ffc20e;
}
.lateral ol{
    list-style: none;
}
.lateral li a{
   display: block;
   padding: 3px 10px;
   text-decoration: none;
   color: #999;
   margin-left: 10px;
   font-size: 1.4em;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   font-weight: lighter;
   line-height: 2;
   letter-spacing: 1px;
   opacity: .7;
}
.lateral li a:hover{
    opacity: 1;
    font-size: 1.5em;
    text-shadow: -4px 4px 10px #0000;
    transition: .3s all ease-out;
}